<div class="locals_slider" id="locals_slider">
    <ul>
        <li style="background-image: url(<%= asset_path 'local_imgs/Wiston1.png' %>); background-size: cover;">
          <p class="local_quote_right"> "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout" </p>

          <div class="local_name_caption_right">
            <h3 class="local_title_right"> WISTON CHURCHILL <br> Quito, Ecuador </h3>
            <h4 class="local_caption_right"> Hiker, Climber, Blah Blah, <br>Blah Blah</h4>
          </div>  
        </li>

        <li style="background-image: url(<%= asset_path 'local_imgs/Leo2.png' %>); background-size: cover;">
          <p class="local_quote_right"> "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout" </p>

          <div class="local_name_caption_right">
            <h3 class="local_title_right"> ADONIS XXXXYYYY <br> Quito, Ecuador </h3>
            <h4 class="local_caption_right"> Hiker, Climber, Blah Blah, <br>Blah Blah</h4>  
          </div>
        </li>
        <li style="background-image: url(<%= asset_path 'local_imgs/Gustavo.png' %>); background-size: cover;">
          <p class="local_quote_left"> "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout" </p>

          <h3 class="local_title_left"> GUSTAVO XXXXYYYY <br> Quito, Ecuador </h3>
          <h4 class="local_caption_left"> Hiker, Climber, Blah Blah, <br>Blah Blah</h4>
        </li>
        
    </ul>
</div>


<script type="text/javascript">
  
  $('.locals_slider').unslider({
    fluid: true,
    dots: true,
    speed: 1000,
    delay: 7000
  });

</script>

<div class="big_wrapper texture_background">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3 class="center">
        HOW IT WORKS
      </h3>
      <!--
      <p>
        Advlo is a global network that empowers locals and travelers to connect through adventures. With this platform, people from around the world will be able to easily share, market and sell their expertise for the adventures they love directly to travelers. Advlo travelers will enjoy access to far more personal, engaging and culturally authentic adventures than what is currently being offered by tour operators.
      </p>
      -->
    </div>
    <div class="point_copy">
      <!-- Three panels Find, Create, Share -->

      <ul class="advlo_row">
        <li>
          <div class="center icon"><%= image_tag "find_icon.png" %></div>
          <h4 class="header center"> FIND </h4>
          <p class="center content"> Connect with locals and hostels directly to set up unique, customizable adventures. </p>
        </li>


        <li>
          <div class="center icon"><%= image_tag("create_icon.png", :class => "create_icon") %></div>
          <h4 class="header_adjust center"> CREATE </h4>
          <p class="center content"> Guide like-minded travelers on the adventures you love and sell your expertise. </p>

        </li>
        <li>
          <div class="center icon"><%= image_tag "share_icon.png" %></div>
          <h4 class="header center"> SHARE </h4>
          <p class="center content"> Share your past adventures and follow your friends with interactive maps and itineraries. </p>

        </li>
      </ul>

    </div>
    
  </div>
</div>


<!--

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        It's just a skeleton
      </h3>
      <p>
        We've kept Selfstarter really simple, but that also means that you should beef it up with your own authentication, administration and product management code.
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        Let's get started
      </h3>
      <p>
        Most of what you need to get started is in the Readme. Selfstarter is based on Ruby on Rails, and we've tried to break up all of the different parts in a sensible fashion.
      <p>
    </div>
  </div>
</div>

-->
