<div class="video_background2">
  <div id="video">
    <% if Settings.use_video_placeholder %>
      <div id="player" class="hidden" style="display: none;">
        <object width="786" height="578">
          <param name="movie" value="<%= Settings.video_embed_url %>?autohide=1&showinfo=0&rel=0&autoplay=1" />
          <param name="allowFullScreen" value="true" />
          <param name="allowscriptaccess" value="always" />
          <embed src="<%= Settings.video_embed_url %>?autohide=1&showinfo=0&rel=0&autoplay=1" type="application/x-shockwave-flash" width="512" height="385" allowscriptaccess="always" allowfullscreen="true"></embed>
        </object>
      </div>
    <% else %>
      <iframe width='936' height='526.5' src="<%= Settings.video_embed_url %>"></iframe>
    <% end %>
  </div>
</div>

<div class="big_wrapper texture_background">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3 class="center">
        HOW IT WORKS
      </h3>
    </div>
    <div class="point_copy">
      <!-- Three panels Find, Create, Share -->
      <ul class="advlo_row">
        <li>
          <div class="center icon"><%= image_tag "find_icon.png" %></div>
          <h4 class="header center"> FIND </h4>
          <p class="center content"> Search for and connect with locals to set up unique, customizable adventures. </p>
        </li>


        <li>
          <div class="center icon"><%= image_tag("create_icon.png", :class => "create_icon") %></div>
          <h4 class="header_adjust center"> HOST </h4>
          <p class="center content"> Sell your expertise by leading like-minded travelers on the adventures you create. </p>

        </li>
        <li>
          <div class="center icon"><%= image_tag "share_icon.png", :class => "share_icon" %></div>
          <h4 class="header center"> REQUEST </h4>
          <p class="center content"> Create the adventure you're seeking and we'll find someone awesome to host it. </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="locals_slider" id="locals_slider">
    <ul>
        <li style="background-image: url(<%= asset_path 'local_imgs/Wiston3.png' %>); background-size: cover; background-position:bottom; background-repeat: no-repeat;">
          <p class="wiston_quote_right"> "Spending time in the sea and providing a good service for the traveler is what I'm here for." </p>

          <div class="local_name_caption_right">
            <h3 class="wiston_title_right"> WISTON CHURCHIL</h3>
            <h4 class="wiston_caption_right">Local Adventure Guide</h4>
          </div>  
        </li>

        <li style="background-image: url(<%= asset_path 'local_imgs/Gustavo4.png' %>); background-size: cover; background-position:bottom; background-repeat: no-repeat;">
          <p class="local_quote_left"> "Helping travelers is a way of life for me. It is an honor to be able to give a hand to those who request my help." </p>

          <h3 class="local_title_left"> CHANGOLUSIA GUSTAVO</h3>
          <h4 class="local_caption_left"> Hostel Owner, Hiker, & Climber</h4>
        </li>

        <li style="background-image: url(<%= asset_path 'local_imgs/Leo3.png' %>); background-size: cover; background-position:bottom; background-repeat: no-repeat;">
          <p class="leo_quote_right"> "A global network connecting travelers to adventure guides would be fantastic because personal references are  most important to me." </p>

          <div class="local_name_caption_right">
            <h3 class="leo_title_right"> LEO DREVECK</h3>
            <h4 class="leo_caption_right"> Traveler & Mountain Climbing <br>Enthusiast</h4>
          </div>
        </li>        
    </ul>
</div>


<script type="text/javascript">
  
  $('.locals_slider').unslider({
    fluid: true,
    dots: true,
    speed: 1000,
    delay: 7000
  });

</script>


