<div id="header">
  <div class="wrapper clearfix">
  	<div class="logo pull-left">
  		<a href="/"><%= image_tag "advlo_header_logo_color.png", alt: "Advlo" %></a>
	</div>
	<div class="menu_items pull-right">
    <%= link_to "PERKS", "/#perks" %>
    <%= link_to "HOW IT WORKS", "/#one" %>
    <%= link_to "JOIN US", "/#middle_reserve" %>
    <%= link_to "BLOG", "http://blog.advlo.com" %>
	</div>	

  </div>
</div>

<p id="back-top">
  <a href="#top"><%= image_tag "back_to_top.png" %></a>
</p>

<!-- SMOOTH SCROLL -->
<script type="text/javascript">
$(document).ready(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top-77
        }, 1000);
        return false;
      }
    }
  });

});
</script>
<!-- End of SMOOTH SCROLL -->

<!-- IE9 placeholder -->
<script>
    $(function(){    
      if($.browser.msie && $.browser.version <= 9){
          $("[placeholder]").focus(function(){
              if($(this).val()==$(this).attr("placeholder")) $(this).val("");
          }).blur(function(){
              if($(this).val()=="") $(this).val($(this).attr("placeholder"));
          }).blur();

          $("[placeholder]").parents("form").submit(function() {
              $(this).find('[placeholder]').each(function() {
                  if ($(this).val() == $(this).attr("placeholder")) {
                      $(this).val("");
                  }
              })
          });
      }
  });
</script>